<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon Affiliate App</title>
<body>
        <h1>TeleAff</h1>
        <p>Boost your Amazon affiliate sales!  TeleAff makes it easy. Simply submit your product details and affiliate link, and we'll promote them in our Telegram channel. Reach a wider audience and watch your commissions grow. Get started today!
        </p>
        <form id="productForm" enctype="multipart/form-data" onsubmit="return submitProduct()">
            <div class="form-group">
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" name="productName" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="affiliateLink">Affiliate Link:</label>
                <input type="text" id="affiliateLink" name="affiliateLink" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="productImage">Product Image:</label>
                <input type="file" id="productImage" name="productImage" class="form-control" required>
            </div>
            
            <button type="submit" class="btn">Save</button>
        </form>

        <script src="/app.js"></script>
</body>
</html>
